@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@rainbow-me/rainbowkit/styles.css';

body {
    background-color: rgb(0 3 19);
    color: #fff;
}

.theme-border {
    border-color: rgb(32 34 56)!important;
}

.theme-bg {
	background-color: #11142e;
}